bt_addresses.cache.json
*.pyc
*.json
*.log
*.txt
*.csv
*.jsonl
*.DS_Store
*.egg-info
.venv
venv
tmp
__pycache__
.idea
*.iml
env.local

!example_subgraph_output.json
!runtime_versions.json

validator/publish.sh
main.py
exploit

miner.bak
src.bak
